# Copy file này thành ".env" rồi điền giá trị thật, KHÔNG đưa .env lên Git

# Lấy từ MongoDB Atlas: Cluster > Connect > Drivers > sao chép connection string
MONGO_URI=mongodb+srv://gianguno10508_db_user:VabDky14BZoU8Xqo@cluster0.h3deb7o.mongodb.net/?appName=Cluster0

# Một chuỗi bí mật bất kỳ, càng dài càng random càng tốt (dùng để ký JWT)
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwMTA4MjAyNSIsIm5hbWUiOiJHaWFuZ0RldiIsImFkbWluIjp0cnVlLCJpYXQiOjE1MTYyMzkwMjJ9.Mm-ECd7XbZtOFy2A5YarzBYXWzHi3XuTPDa8J2BdasE

PORT=3001

# Domain của React app (web) — dùng để cấu hình CORS
CLIENT_ORIGIN=http://localhost:3000
